<div class="bg-d2 w-full max-w-[500px] md:min-w-[500px] rounded-3xl">
  <div class="relative z-10 px-5 lg:px-6 xl:px-7 py-5 md:py-8 lg:py-10">
    <div class="flex items-center justify-between pb-5 lg:pb-6 xl:pb-7">
      <div class="text-18 lg:text-24 font-bold text-secondary">{{"Sign In" | translate}}</div>
      <span class="icon-close text-xl rounded-full border border-d2 text-secondary cursor-pointer" *ngIf="isUnknowUser" (click)="closeDialog()"></span>
    </div>
    <form  #logInNgForm="ngForm" [formGroup]="logInForm">
      <div class="space-y-2.5 lg:space-y-3 xl:space-y-3.5">
        <div class="w-full space-y-2">
          <span class="inline-block text-16 lg:text-18 font-medium text-secondary">{{"Email/Mobile Number" | translate}}</span>
          <input class="w-full bg-white text-16 text-d5 font-medium px-4 lg:px-5 py-2 lg:py-3 rounded-[10px] border border-d1 focus:outline-none focus:shadow-outline"
            type="text" [formControlName]="'email'" placeholder="Enter your email or mobile number">
        </div>
        <!-- <div class="w-full space-y-2">
          <span class="inline-block text-16 lg:text-18 font-medium text-secondary">{{"Pin" | translate}}</span>
          <div class="relative">
            <input type="text" [type]="hidePin ? 'password' : 'text'" [formControlName]="'pin'" id="" placeholder="Enter pin"  class="w-full bg-white text-16 text-d5 font-medium px-4 lg:px-5 py-2 lg:py-3 rounded-[10px] border border-d1 focus:outline-none focus:shadow-outline pr-14" />
            <span class="absolute right-5 top-1/2 -translate-y-1/2 text-16 lg:text-lg leading-10 text-d5 cursor-pointer" [ngClass]="hidePin ? 'icon-eye' : 'icon-close-eye'" (click)="hidePin = !hidePin"></span>
          </div>
          <div class="flex items-end justify-between">
            <div class="flex items-center justify-between pt-2">
            <span class="underline whitespace-nowrap text-primary text-16 font-normal cursor-pointer" [routerLink]="'/home'">Go to site</span>
            <span class="underline inline-block w-full text-end text-14 text-primary font-medium cursor-pointer" (click)="forGetPin()">{{"Forgot Pin" | translate}}</span>
          </div>
        </div>
        </div> -->
      </div>
      <button class="inline-block w-full btn_primary text-sm px-3.5 lg:px-6 xl:px-10 sm:text-base xl:text-lg anim py-2.5 xl:py-3 mt-3 lg:mt-5" (click)="logIn()">{{"Sign In" | translate}}</button>
      <div class="mt-2 flex flex-wrap items-center justify-center sm:space-x-1">
        <div class="w-max p-1">
          <div id="googleSignInButton"></div>
        </div>
        <div class="w-max p-1">
          <button class="bg-white border-[1px] border-gray-500/20 rounded-full py-2.5 px-2.5 flex items-center justify-center w-full" (click)="loginWithFacebook()"> 
            <span class="block mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 512 512" xml:space="preserve" ><g><circle cx="56.098" cy="56.098" r="56.098" style="" fill="#3b5998" data-original="#3b5998"></circle><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z" fill="#ffffff" data-original="#ffffff"></path></g></svg>
            </span>
            <span class="inline-block text-dark text-sm">Sign in with Facebook</span>
          </button>
        </div>
        <div class="w-max p-1">
          <button (click)="signInWithApple()" class="bg-white border-[1px] border-gray-500/20 rounded-full py-2.5 px-2.5 flex items-center justify-center w-full"> 
            <span class="block mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 22.773 22.773" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="M15.769 0h.162c.13 1.606-.483 2.806-1.228 3.675-.731.863-1.732 1.7-3.351 1.573-.108-1.583.506-2.694 1.25-3.561C13.292.879 14.557.16 15.769 0zM20.67 16.716v.045c-.455 1.378-1.104 2.559-1.896 3.655-.723.995-1.609 2.334-3.191 2.334-1.367 0-2.275-.879-3.676-.903-1.482-.024-2.297.735-3.652.926h-.462c-.995-.144-1.798-.932-2.383-1.642-1.725-2.098-3.058-4.808-3.306-8.276v-1.019c.105-2.482 1.311-4.5 2.914-5.478.846-.52 2.009-.963 3.304-.765.555.086 1.122.276 1.619.464.471.181 1.06.502 1.618.485.378-.011.754-.208 1.135-.347 1.116-.403 2.21-.865 3.652-.648 1.733.262 2.963 1.032 3.723 2.22-1.466.933-2.625 2.339-2.427 4.74.176 2.181 1.444 3.457 3.028 4.209z" fill="#000000" opacity="1" data-original="#000000"></path></g></svg>
            </span>
            <span class="inline-block text-dark text-sm">Sign in with Apple</span>
          </button>
        </div>
      </div>
      <div class="text-center pt-2.5 xl:pt-3">
        <div class="text-14 text-secondary font-normal">{{"Don't have an account" | translate}}
          <span class="underline text-primary cursor-pointer" (click)="registerUser()">{{"Sign Up" | translate}}?</span>
        </div>
      </div>
    </form>
  </div>
</div>