<section class="pt-24 md:pt-40 xl:pt-48 2xl:pt-56 pb-8 md:pb-18 xl:pb-22 relative bg-d3 overflow-hidden rounded-bl-3xl xl:rounded-bl-[50px] srounded-br-3xl xl:rounded-br-[50px]">
  <div class="relative wrapper text-center space-y-3.5 z-10">
    <h1 class="h1">{{"Contact Us" | translate}}</h1>
    <div class="flex items-center justify-center space-x-2">
      <span class="text-sm md:text-base lg:text-lg text-d4 font-normal cursor-pointer"
        [routerLink]="'/home'">{{"Home" | translate}}</span>
      <span class="icon-star text-14 text-secondary"></span>
      <span class="text-sm md:text-base lg:text-lg text-primary font-normal">{{"Contact Us" | translate}}</span>
    </div>
  </div>
  <img src="./assets/images/tree_bg.webp" class="absolute inset-0 w-full h-full object-cover opacity-20" alt="bg-cover" />
</section>
<!-- Contact Us -->
<section class="w-full max-w-[1440px] mx-auto px-5 py-10 md:py-16 lg:py-20 xl:py-[100px]">
  <div class="flex flex-wrap items-start -mx-2.5 lg:-mx-3 xl:-mx-3.5 space-y-4 md:space-y-0">
    <div class="w-full md:w-2/5 px-2.5 lg:px-4 xl:px-6 space-y-5 lg:space-y-6 xl:space-y-7">
      <div class="text-26 md:text-36 lg:text-44 xl:text-48 font-bold text-secondary">{{"How can we help you" | translate}}?</div>
      <span class="block text-14 lg:text-18 text-d4 font-normal text-left">{{"Have questions or need assistance? Reach out to us for any inquiries or support regarding Magics Hair Care products. We're here to help you achieve the best hair care experience." | translate}}</span>
      <span class="block w-full h-[1px] border border-t"></span>
      <div class="w-full h-auto">
        <ul class="space-y-3 lg:space-y-4 xl:space-y-5">
          <li class="flex items-center space-x-2">
            <span class="block icon-phone text-24 text-secondary icon_bold"></span>
            <span class="text-16 md:text-18 xl:text-xl font-semibold">1800 889 2066</span>
          </li>
          <li class="flex items-center space-x-2">
            <span class="block icon-mail text-24 text-secondary icon_bold"></span>
            <span class="text-16 md:text-18 xl:text-xl font-semibold underline">{{'info@magicshaircare.com'}}</span>
          </li>
          <li class="flex items-start space-x-2">
            <span class="block icon-clock text-24 text-secondary icon_bold"></span>
            <span class="text-16 md:text-18 xl:text-xl font-semibold">{{"Monday - Friday: 9:00 AM - 20:00 PM" | translate}} <br> {{"Saturday: 11:00 AM - 15:00 PM" | translate}}</span>
          </li>
        </ul>
      </div>
      <span class="block w-full h-[1px] border border-t"></span>
      <ul class="flex items-center space-x-3 mt-6 lg:mt-8 xl:mt-10">
        <li>
          <a href="https://www.facebook.com/people/Magics-hair-care/61561881912760/?sk=photos_by" target="_blank"
            class="w-10 h-10 rounded-full bg-primary border border-primary hover:bg-primary/70 anim flex items-center justify-center cursor-pointer" name="Facebook">
            <span class="block icon-facebook text-16 text-white"></span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/magicscare_official/?hl=en" target="_blank"
            class="w-10 h-10 rounded-full bg-primary border border-primary hover:bg-primary/70 anim flex items-center justify-center cursor-pointer" name="Instagram">
            <span class="block icon-instagram text-16 text-white"></span>
          </a>
        </li>
        <li>
          <a href="https://x.com/magicshair12" target="_blank"
            class="w-10 h-10 rounded-full bg-primary border border-primary hover:bg-primary/70 anim flex items-center justify-center cursor-pointer" name="Twitter">
            <span class="block icon-twitter text-16 text-white"></span>
          </a>
        </li>
        <li> 
          <a href="https://www.youtube.com/channel/UCOtgwj0uIxmJ7KIMvBZDYRQ" target="_blank"
            class="w-10 h-10 rounded-full bg-primary border border-primary hover:bg-primary/70 anim flex items-center justify-center cursor-pointer" name="YouTube">
            <span class="block icon-youtube text-16 text-white"></span>
          </a>
        </li>
        <li> 
          <a href="https://in.pinterest.com/navyaglobal6/" target="_blank"
            class="w-10 h-10 rounded-full bg-primary border border-primary hover:bg-primary/70 anim flex items-center justify-center cursor-pointer" name="Pinterest">
            <span class="block icon-pinterest text-16 text-white"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="relative w-full md:w-3/5 px-2.5 lg:px-4 xl:px-6">
      <iframe class="rounded-2xl w-full h-full min-h-72 md:min-h-96 xl:min-h-[500px]" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.217462012912!2d72.78323917597251!3d21.183518582443757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04d0cb0bde995%3A0xee9cf11c1d9b7834!2sThe%20Junomoneta%20Tower!5e0!3m2!1sen!2sin!4v1721016755888!5m2!1sen!2sin"></iframe>
      <!-- <iframe class="rounded-2xl w-full h-full min-h-72 md:min-h-96 xl:min-h-[500px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7437.6218089134945!2d72.87590544531588!3d21.239345771961133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f47a3e5ff1f%3A0x88e13cdef8988fae!2sShabri%20Dham%20Row%20House!5e0!3m2!1sen!2sin!4v1730109071891!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    </div>
  </div>
</section>
<section class="w-full max-w-[1440px] mx-auto px-5 pb-10 md:pb-16 lg:pb-20 xl:pb-[100px]">
  <div class="bg-d2 rounded-xl overflow-hidden">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-2/5 text-center p-6 space-y-10 md:space-y-32 lg:space-y-40 xl:space-y-48">
        <div class="text-26 md:text-36 lg:text-44 xl:text-48 font-bold text-secondary">{{"Get In Touch" | translate}}</div>
        <img src="./assets/images/get-in-touch.webp" alt="Get In Touch" class="mx-auto" />
      </div>
      <div class="relative w-full md:w-3/5">
        <div class="relative z-10 px-6 md:px-10 lg:px-14 xl:px-[70px] py-10 md:py-16 lg:py-20 xl:py-[100px]">
          <div class="text-18 lg:text-24 xl:text-26 font-bold text-secondary pb-5 lg:pb-6 xl:pb-7">{{"Fill up the form if you have any question" | translate}}</div>
          <form class="space-y-3 lg:space-y-4 xl:space-y-5" #contactNgForm="ngForm" [formGroup]="contactForm">
            <div class="flex flex-wrap items-center -mx-2.5 space-y-3 lg:space-y-0">
              <div class="w-full lg:w-1/2 px-2.5">
                <span class="block text-16 lg:text-18 font-normal text-secondary">{{"Your name" | translate}}<span
                    class="text-red_1 text-[18] font-bold">&nbsp;*</span></span>
                <input
                  class="w-full bg-white text-d5 font-medium mt-2 py-2.5 px-5 rounded-[10px] focus:outline-none focus:shadow-outline"
                  type="text" placeholder="Enter your name" formControlName="name">
                <span class="error-message text-red_1 block  text-sm font-semibold"
                  *ngIf="contactForm.get('name').hasError('required') && (contactForm.get('name').dirty || contactForm.get('name').touched)">{{"Name is required." | translate}}</span>
              </div>
              <div class="w-full lg:w-1/2 px-2.5">
                <span class="block text-16 lg:text-18 font-normal text-secondary">{{"Your email" | translate}}<span
                    class="text-red_1 text-[18] font-bold">&nbsp;*</span></span>
                <input
                  class="w-full bg-white text-d5 font-medium mt-2 py-2.5 px-5 rounded-[10px] focus:outline-none focus:shadow-outline"
                  type="text" placeholder="Enter your email" formControlName="email">
                <span class="error-message text-red_1 block  text-sm font-semibold"
                  *ngIf="contactForm.get('email').hasError('required') && (contactForm.get('email').dirty || contactForm.get('email').touched)">{{"Email is required." | translate}}</span>
              </div>
              <div class="w-full lg:w-1/2 px-2.5">
                <span class="block text-16 lg:text-18 font-normal text-secondary">{{"Your Subject" | translate}}<span
                    class="text-red_1 text-[18] font-bold">&nbsp;*</span></span>
                <input
                  class="w-full bg-white text-d5 font-medium mt-2 py-2.5 px-5 rounded-[10px] focus:outline-none focus:shadow-outline"
                  type="text" placeholder="Enter your subject" formControlName="subject">
                <span class="error-message text-red_1 block  text-sm font-semibold"
                  *ngIf="contactForm.get('subject').hasError('required') && (contactForm.get('subject').dirty || contactForm.get('subject').touched)">{{"Subject is required." | translate}}</span>
              </div>
              <div class="w-full lg:w-1/2 px-2.5 relative loginTel loginTel_contact" #phoneF="ngForm" [formGroup]="phoneForm">
                <label class="block text-16 lg:text-18 font-normal text-secondary py-1.5">{{"Mobile Number" | translate}}<span
                    class="text-red_1 text-[18] font-bold">&nbsp;*</span></label>
                <ngx-intl-tel-input
                [cssClass]="'block w-full'"
                [ngClass]="{'tel-invalid' : ((phoneF.form.controls['phone'].value && (phoneF.form.controls['phone'].touched && phoneF.form.controls['phone'].invalid)) || (!phoneF.form.controls['phone'].value && phoneF.form.controls['phone'].hasError('required') && phoneF.form.controls['phone'].touched))}"
                [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15" [phoneValidation]="true" [separateDialCode]="true" [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone"></ngx-intl-tel-input>
                <span class="error-message text-red-500 block absolute top-full left-[125px] text-xs font-semibold" *ngIf="phoneF.form.controls['phone'].value && (phoneF.form.controls['phone'].touched && phoneF.form.controls['phone'].invalid)"> {{"Please enter valid Contact Number." | translate}}</span>
                <span class="error-message text-red-500 block absolute top-full left-[125px] text-xs font-semibold" *ngIf="!phoneF.form.controls['phone'].value && phoneF.form.controls['phone'].hasError('required') && phoneF.form.controls['phone'].touched"> {{"Please enter Contact Number." | translate}}</span>
              </div>
            </div>

            <div class="w-full">
              <span class="block text-16 lg:text-18 font-normal text-secondary">{{"Your Message" | translate}}</span>
              <textarea
                class="w-full h-28 lg:h-32 xl:h-36 bg-white text-d5 font-medium mt-2 p-3 rounded-[10px] focus:outline-none focus:shadow-outline resize-none"
                placeholder="Write your message" formControlName="message"></textarea>
            </div>
            <div class="w-full">
              <div class="flex flex-wrap items-center relative order-2 sm:order-1">
                <div class="w-full lg:w-1/2 relative pr-0 lg:pr-3.5 pb-4 lg:pb-0">
                  <span id="SuccessMessage" class="success"></span>
                  <input [formControlName]="'captcha'" type="text" id="UserCaptchaCode"
                    class="block w-full outline-none text-base xl:text-lg bg-white border-2 border-transparent rounded-md shadow-one py-4 xl:py-6 px-6 xl:px-7 mr-3.5"
                    placeholder='Enter Captcha'>
                  <span
                    class="error-message text-red-500 block absolute bottom-0 md:bottom-2 left-0 text-sm font-semibold"
                    *ngIf="!contactForm.controls['captcha'].value && contactForm.controls['captcha'].hasError('required') && contactForm.controls['captcha'].touched">
                    {{"Please enter captcha." | translate}}</span>
                  <!-- <span id="WrongCaptchaError" class="error text-red-500"></span> -->
                </div>
                <div class="w-full lg:w-1/2 flex items-center  CaptchaWrap">
                  <div class="w-full pr-3.5 relative">
                    <img [src]="createdCaptchaUrl" class="w-full h-10">
                  </div>
                  <div class="ReloadBtn" (click)="reGenerateCaptcha()"></div>
                </div>
              </div>
            </div>
            <div class="w-full">
              <button
                class="block w-full lg:max-w-44 text-14 lg:text-16 xl:text-18 font-semibold tracking-wide bg-primary text-white border border-primary hover:bg-transparent hover:text-primary p-2.5 lg:p-5 rounded-lg focus:outline-none focus:shadow-outline anim"
                (click)="onSubmit()">
                {{"Submit Now" | translate}}
              </button>
            </div>
          </form>
        </div>
        <img src="./assets/images/get-in-touch-bg.webp" alt="Get In Touch"
          class="absolute inset-0 w-full h-full object-cover" />
      </div>
    </div>
  </div>
</section>