<section class="pt-24 md:pt-40 xl:pt-48 2xl:pt-56 pb-8 md:pb-18 xl:pb-22 relative bg-d3 overflow-hidden rounded-bl-3xl xl:rounded-bl-[50px] srounded-br-3xl xl:rounded-br-[50px]">
    <div class="relative wrapper text-center space-y-3.5 z-10">
      <h1 class="h1">{{"About Magics" | translate}}</h1>
      <div class="flex items-center justify-center space-x-2">
        <span class="text-sm md:text-base lg:text-lg text-d4 font-normal cursor-pointer" [routerLink]="'/home'">{{"Home" | translate}}</span>
        <span class="icon-star text-14 text-secondary"></span>
        <span class="text-sm md:text-base lg:text-lg text-primary font-normal">{{"About Magics" | translate}}</span>
      </div>
    </div>
    <img src="./assets/images/tree_bg.webp" class="absolute inset-0 w-full h-full object-cover opacity-20" alt="bg-cover"/>
</section>
<!-- About us -->
<section class="w-full max-w-[1440px] mx-auto px-5 py-10 md:py-16 lg:py-20 xl:py-[100px]">
    <div class="flex flex-wrap items-center -mx-5 space-y-4 md:space-y-0">
        <div class="w-full md:w-1/2 px-5">
            <div class="rounded-2xl overflow-hidden">
                <img src="./assets/images/about-us.webp" alt="About Us" />
            </div>
        </div>
        <div class="w-full md:w-1/2 text-secondary px-5">
            <h2 class="h2 pb-4 lg:pb-6 xl:pb-[30px]">{{"Our Story: Where Nature Meets Hair Care" | translate}}</h2>
            <div class="text-14 lg:text-16 xl:text-18 text-secondary/70 space-y-3 xl:space-y-4">
                <span class="block">{{"Welcome to Magics Hair Care, where tradition meets innovation in the pursuit of healthy, beautiful hair. Rooted in Ayurvedic wisdom and crafted with modern expertise, our products are meticulously formulated to deliver effective, natural solutions." | translate}}</span>
                <span class="block">{{"We prioritise quality and sustainability, offering vegan, chemical-free hair care options that cater to all ages and hair types." | translate}}</span>
                <span class="block">{{"Whether you're looking to strengthen, nourish, or simply enhance the natural beauty of your hair, Magics Hair Care is committed to providing you with the tools and knowledge to achieve your hair care goals." | translate}}</span>
            </div>
        </div>
    </div>
</section>
<div class="relative">
   <section class="-full max-w-[1440px] mx-auto px-5 py-10 md:py-16 lg:py-20 xl:py-[100px]">
       <div class="text-center space-y-2 lg:space-y-4">
           <h2 class="h2">{{"5 Simple Steps to Naturally Beautiful Hair" | translate}}</h2>
           <span class="block text-14 lg:text-16 xl:text-18 text-secondary/70">{{"Unlock the Power of Ayurveda with Our Easy-to-Use Shampoo Mix Powder" | translate}}</span>
       </div>
       <div class="flex flex-wrap items-center -mx-5 py-8 lg:py-10 xl:py-12 space-y-4 md:space-y-0">
           <div class="w-full md:w-1/2 text-secondary px-5 space-y-4 lg:space-y-6 xl:space-y-[30px]">
               <div class="flex items-center space-x-3 lg:space-x-5 xl:space-x-7">
                   <img src="./assets/images/step-1.webp" alt="About Us" class="w-16 lg:w-20 xl:w-28 h-16 lg:h-20 xl:h-28" />
                   <span class="text-14 md:text-16 lg:text-18 xl:text-xl font-semibold text-secondary">{{"Empty 200ml/180ml/175ml of your shampoo in a bowl." | translate}}</span>
               </div>
               <div class="flex items-center space-x-3 lg:space-x-5 xl:space-x-7">
                   <img src="./assets/images/step-2.webp" alt="About Us" class="w-16 lg:w-20 xl:w-28 h-16 lg:h-20 xl:h-28" />
                   <span class="text-14 md:text-16 lg:text-18 xl:text-xl font-semibold text-secondary">{{"Mix this packet of Magics in your shampoo" | translate}}
                      <br><b class="text-primary">{{"Note: Do not mix water." | translate}}</b></span>
               </div>
               <div class="flex items-center space-x-3 lg:space-x-5 xl:space-x-7">
                   <img src="./assets/images/step-3.webp" alt="About Us" class="w-16 lg:w-20 xl:w-28 h-16 lg:h-20 xl:h-28" />
                   <span class="text-14 md:text-16 lg:text-18 xl:text-xl font-semibold text-secondary">{{"Pour the mixture back from the bowl to your shampoo bottle" | translate}}</span>
               </div>
               <div class="flex items-center space-x-3 lg:space-x-5 xl:space-x-7">
                   <img src="./assets/images/step-4.webp" alt="About Us" class="w-16 lg:w-20 xl:w-28 h-16 lg:h-20 xl:h-28" />
                   <span class="text-14 md:text-16 lg:text-18 xl:text-xl font-semibold text-secondary">{{"Apply Magics Shampoo Mix in wet hair & create rich foam. Now gently massage the scalp for 5-7mins, then rinse & wash." | translate}}</span>
               </div>
               <div class="flex items-center space-x-3 lg:space-x-5 xl:space-x-7">
                   <img src="./assets/images/step-5.webp" alt="About Us" class="w-16 lg:w-20 xl:w-28 h-16 lg:h-20 xl:h-28" />
                   <span class="text-14 md:text-16 lg:text-18 xl:text-xl font-semibold text-secondary">{{"Use within 40 days after mixing it with your shampoo" | translate}}</span>
               </div>
           </div>
           <div class="w-full md:w-1/2 px-5">
               <div class="rounded-xl sm:rounded-2xl overflow-hidden">
                   <img src="./assets/images/how-to-use-banner.webp" alt="how-to-use-banner" class="w-full h-full" />
               </div>
           </div>
       </div>
   </section>
   <img src="./assets/images/how-to-us-bg.webp" alt="background" class="absolute w-full h-full top-0 right-0 -z-10 object-cover" />
</div>      
<section class="w-full py-10 md:py-16 xl:py-20 space-y-8 lg:space-y-10 xl:space-y-12">
    <div class="max-w-[1440px] mx-auto px-5">
        <div class="flex flex-row">
            <div class="hidden md:flex flex-col items-center">
               <div class="w-52 p-3 text-center rounded mr-4 bg-primary animate-pulse">
                  <span class="text-16 lg:text-18 text-center text-white font-bold">{{"Vision & Belief" | translate}}</span>
                  <!-- <div class="text-white text-sm">Idea</div> -->
               </div>
               <div class="h-full border-l-4 border-transparent">
                  <div class="border-l-4 mr-16 h-full border-primary border-dashed"></div>
               </div>
            </div>
            <div class="flex-auto border rounded-xl  border-gray-300">
               <div class="flex md:flex-row flex-col items-center">
                  <div class="flex-auto max-w-[500px] lg:max-w-full p-4">
                     <span class="md:hidden text-[22px] md:text-24 lg:text-3xl text-black font-medium mb-3 block">{{"Vision & Belief" | translate}}:</span>
                     <p class="text-14 lg:text-16 pb-2">{{"Our mission at Navya Global is to promote holistic wellness and the ancient science of Ayurveda. Our company was founded with a vision to bring the timeless wisdom of Ayurveda into the modern world, providing natural and effective solutions to support a healthy and balanced life." | translate}}</p>
                     <p class="ext-14 lg:text-16">{{"Nature holds the key to optimal health, and our products are formulated using authentic Ayurvedic principles and carefully selected natural ingredients. By staying true to ancient wisdom while embracing modern scientific advancements, we ensure the highest quality and efficacy of our offerings." | translate}}</p>
                  </div>
                  <div class="w-full min-w-[220px] max-w-[396px] p-5">
                    <img src="./assets/images/business-vision.webp" alt="business-vision.webp" class="object-scale-down">
                  </div>
               </div>
            </div>
         </div>
         <div class="flex items-start flex-row">
            <div class="border-t-4 border-r-4 border-transparent">
               <div class="w-14 ml-20 h-16 border-l-4 border-primary border-dashed border-b-4 rounded-bl-full"></div>
            </div>
            <div class="border-t-4 border-transparent flex-auto">
               <div class="h-16 border-b-4 border-primary border-dashed"></div>
            </div>
            <div class="w-14 mt-16 mr-16 h-16 border-r-4 border-primary border-dashed border-t-4 rounded-tr-full"></div>
         </div>
         <div class="flex flex-row-reverse">
            <div class="hidden md:flex flex-col items-center">
               <div class="w-52 p-3 text-center border bg-primary animate-pulse rounded ml-4">
                <span class="text-16 lg:text-18 text-center text-white font-bold">{{"Quality & Purity" | translate}}</span>
                <!-- <div class="text-white text-sm">Idea</div> -->
               </div>
               <div class="h-full border-r-4 border-transparent">
                  <div class="border-l-4 ml-24 h-full border-primary border-dashed"></div>
               </div>
            </div>
            <div class="flex-auto border rounded-xl  border-gray-300">
               <div class="flex md:flex-row flex-col items-center">
                  <div class="flex-auto max-w-[500px] lg:max-w-full p-4">
                     <div class="md:hidden text-[22px] md:text-24 lg:text-3xl text-black font-medium mb-3 block">{{"Quality & Purity" | translate}}</div>
                     <p class="text-14 lg:text-16 pb-2">{{"We understand the significance of purity in Ayurvedic preparations. Our team of experts works tirelessly to source the finest herbs, botanicals, and minerals from pristine environments, ensuring that they are free from any harmful additives or chemicals. Each of our products is made with 100% natural herbs and is vegan. They undergo rigorous testing to meet international quality standards to deliver unparalleled results without compromising on safety." | translate}}</p>
                     <p class="text-14 lg:text-16">{{"Navya Global offers a diverse range of Ayurvedic products designed to cater to various health needs. From traditional herbal supplements to our products are thoughtfully crafted too. At the moment our product range covers hair care." | translate}}</p>
                  </div>
                  <div class="w-full min-w-[220px] max-w-[396px] p-5"><img src="./assets/images/quality.webp" alt="qualit" class="object-scale-down"></div>
               </div>
            </div>
         </div>
         <div class="flex items-start flex-row-reverse">
            <div class="border-t-4 border-l-4 border-transparent">
               <div class="w-12 mr-16 h-16 border-r-4 border-primary border-dashed border-b-4 rounded-br-full"></div>
            </div>
            <div class="border-t-4 border-transparent flex-auto">
               <div class="h-16 border-b-4 border-primary border-dashed"></div>
            </div>
            <div class="w-14 mt-16 ml-16 h-16 border-l-4 border-primary border-dashed border-t-4 rounded-tl-full"></div>
         </div>
         <div class="flex flex-row">
            <div class="hidden md:flex flex-col items-center">
               <div class="w-52 p-3 text-center bg-primary animate-pulse rounded mr-4">
                  <span class="text-16 lg:text-18 text-center text-white font-bold">{{"Customer Relationship" | translate}}</span>
                  <!-- <div class="text-white text-sm">Idea</div> -->
               </div>
               <div class="h-full border-l-4 border-transparent">
                  <div class="border-l-4 mr-24 h-full border-primary border-dashed"></div>
               </div>
            </div>
            <div class="flex-auto border rounded-xl  border-gray-300">
               <div class="flex md:flex-row flex-col items-center">
                  <div class="flex-auto max-w-[500px] lg:max-w-full p-4">
                     <span class="md:hidden text-[22px] md:text-24 lg:text-3xl text-black font-medium mb-3 block">{{"Customer Relationship" | translate}}</span>
                     <p class="text-14 lg:text-16 pb-2">{{"At Navya Global, we are more than just a brand; we are a community driven by a passion for well-being. Our Ayurvedic experts, herbalists, and customer care professionals are always available to provide personalized guidance and support. We believe in building lasting relationships with our customers by offering exceptional service and fostering an environment of trust and transparency." | translate}}</p>
                     <p class="ext-14 lg:text-16">{{"We invite you to embark on a journey to holistic well-being with us. Explore the richness of Ayurveda, discover the transformative power of natural remedies, and experience the harmony that comes from aligning with the wisdom of ancient traditions." | translate}}</p>
                  </div>
                  <div class="w-full min-w-[220px] max-w-[396px] p-5"><img src="./assets/images/customer_relationship.webp" alt="customer_relationship" class="object-scale-down"></div>
               </div>
            </div>
         </div>
         <div class="flex items-start flex-row">
            <div class="border-t-4 border-r-4 border-transparent">
               <div class="w-14 ml-16 h-16 border-l-4 border-primary border-dashed border-b-4 rounded-bl-full"></div>
            </div>
            <div class="border-t-4 border-transparent flex-auto">
               <div class="h-16 border-b-4 border-primary border-dashed"></div>
            </div>
         </div>
    </div>
</section>
<!-- Our Customers -->
<section class="w-full max-w-[1440px] mx-auto px-5 py-10 md:py-16 xl:py-20 space-y-8 lg:space-y-10 xl:space-y-12">
    <div class="max-w-4xl mx-auto space-y-3 xl:space-y-4 text-center">
      <span class="block text-3xl md:text-36 lg:text-40 xl:text-48 font-bold text-secondary">{{"Voices of Satisfaction" | translate}}</span>
      <span class="xl_titel block font-normal text-d4">{{"At Magic Hair Care, our customer satisfaction is our top priority. Here firsthand how our products have transformed their hair care routines, delivering results that speak for themselves." | translate}}</span>
    </div>
    <div class="swiper voice-satisfaction pb-5 lg:pb-0">
        <div class="swiper-wrapper pb-5 sm:pb-8 lg:pb-10">
            <div class="swiper-slide text-center p-2 md:p-3">
            <img src="./assets/images/jai-madaan.webp" alt="Benefits" class="w-full h-auto object-cover object-top rounded-xl" />
            <div class="p-2.5">
                <span class="text-16 md:text-xl lg:text-24 xl:text-26 font-bold text-secondary">{{"Jai Madaan" | translate}}</span>
            </div>
            </div>                
            <div class="swiper-slide text-center p-2 md:p-3">
            <img src="./assets/images/jigardan-gadhavi.webp" alt="Benefits" class="w-full h-auto object-cover object-top rounded-xl" />
            <div class="p-2.5">
                <span class="text-16 md:text-xl lg:text-24 xl:text-26 font-bold text-secondary">{{"Jigardan Gadhavi" | translate}}</span>
            </div>
            </div>                
            <div class="swiper-slide text-center p-2 md:p-3">
            <img src="./assets/images/yati-gadhavi.webp" alt="Benefits" class="w-full h-auto object-cover object-top rounded-xl" />
            <div class="p-2.5">
                <span class="text-16 md:text-xl lg:text-24 xl:text-26 font-bold text-secondary">{{"Yati Gadhavi" | translate}}</span>
            </div>
            </div>
            <div class="swiper-slide text-center p-2 md:p-3">
            <img src="./assets/images/nirav-sonpal.webp" alt="Benefits" class="w-full h-auto object-cover object-top rounded-xl" />
            <div class="p-2.5">
                <span class="text-16 md:text-xl lg:text-24 xl:text-26 font-bold text-secondary">{{"Nirav Sonpal" | translate}}</span>
            </div>
            </div>
            <div class="swiper-slide text-center p-2 md:p-3">
            <img src="./assets/images/disha-manek.webp" alt="Benefits" class="w-full h-auto object-cover object-top rounded-xl" />
            <div class="p-2.5">
                <span class="text-16 md:text-xl lg:text-24 xl:text-26 font-bold text-secondary">{{"Disha Manek" | translate}}</span>
            </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

